form {
    padding: 50px;
    height: calc(100vh - 125px);
    .form-group {
        display: flex;
        align-items: flex-start;
        color: #2f2f2f;
        label {
            width: 250px;
            margin-right: 16px;
            font-size: 16px;
        }
        input,
        select {
            width: 250px;
            border-radius: 5px;
            font-size: 14px;
            border: 1px solid #c0c0c0;
        }
        textarea {
            width: 460px;
            border-radius: 5px;
            border: 1px solid #c0c0c0;
        }
        small {
            display: block;
            color: #808080;
            font-size: 12px;
        }
    }
}
