.ruler-wrapper {
    width: calc(100vw - 500px);
    height: calc(100vh - 50px);
    padding-left: 5px;
    padding-top: 1px;
    float: left;
    overflow: auto;
    position: relative;
    border: 1px solid #CACACA;
    &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 5px;
        width: 30px;
        height: 25px;
        background: #F0F0F0;
    }
}
