.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .heading {
        padding-top: 18px;
        padding-left: 0;
    }
}
section {
    .navbar {
        border: 1px solid #ebebeb;
        box-shadow: 0 3px 6px #00000029;
        height: 49px;
        background-color: #fff !important;
        font-size: 14px;
        padding: 14px;
        .nav-item {
            padding: 0 12px;
            border-right: 1px solid #ebebeb;
            display: flex;
            align-items: center;
            &:nth-child(3) {
                border: none;
            }
            span {
                color: #808080;
                font-size: 14px;
                margin-right: 20px;
            }
            b {
                color: #000000cc;
                font-size: 12px;
                margin-right: 11px;
            }
            select {
                color: #2f2f2f;
                border: none;
            }
        }
    }
    main {
        background: #fafafa;
        padding: 0 17px;
        height: calc(100vh - 170px);
        overflow-y: auto;
        .heading {
            border-bottom: 1px solid #d6d6d6;
            padding-bottom: 6px;
            padding-left: 0;
            margin-bottom: 25px;
        }
    }
}
