<div class="card-section">
  <div class="card" *ngFor="let it of [].constructor(6);index as i;">
      <div class="card-header">My first digital Twin - Screen 1 </div>
      <div class="image-holder">
          <img src="./assets/images/cards-img.jpg" width="100%" height="100%"
              class="card-img-top" alt="...">
      </div>
      <div class="card-footer">
          <span>2 hours ago </span>
          <div class="btn-group dropup">
              <img class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" (click)="moreOptions(i)"
                  data-bs-toggle="dropdown" aria-expanded="false" src="./assets/images/ic_more_vert.svg" />
              <app-twinaction *ngIf="selectedIndex === i" [isDropdownShow]="isDropdownShow"></app-twinaction>
          </div>
      </div>
  </div>
</div>
